@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

body, html, .home-container {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
}
$primary-color: #007bff;

body {
  background: #171923 !important;
  font-family: 'Poppins', Arial, Helvetica, sans-serif !important;
  margin: 0 !important;
}

h1 {
  color: white;
}
