name: ci/cd
on: [push]
jobs:
  # SECURITY:
  #   env:
  #     SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
  #   runs-on: ubuntu-20.04
  #   steps:
  #   - name: checkout repo
  #     uses: actions/checkout@main
  #   - name: scan iac
  #     shell: bash
  #     run: make scan_iac
  #   - uses: actions/upload-artifact@v3
  #     with:
  #       name: iac_report
  #       path: iac/iac_report.json
  #   - name: scan code
  #     shell: bash
  #     run: make scan_app
  #   - uses: actions/upload-artifact@v3
  #     with:
  #       name: app_report
  #       path: app/app_report.json


  BUILD_DEPLOY_IMAGE:
    # needs: [ PREPARE ]
    env:
      CR_USER: ${{ github.actor }}
      CR_HOST:  ${{ vars.CR_HOST }}
      CR_PAT: ${{ secrets.PAT }}
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
    - name: checkout repo
      uses: actions/checkout@v4 
    - name: lint docker image
      shell: bash
      run: make lint
    - name: login to ghcr
      shell: bash
      run: make login
    - name: build
      shell: bash
      run: make build_image
    - name: deploy
      shell: bash
      run: make deploy_image
  INFRA_PLAN:
    needs: [ BUILD_DEPLOY_IMAGE ]
    env:
      PAT: ${{ secrets.PAT }}
      CR_HOST: ${{ vars.CR_HOST }}
      ARM_CLIENT_ID: ${{ secrets.ARM_CLIENT_ID }}
      ARM_CLIENT_SECRET: ${{ secrets.ARM_CLIENT_SECRET }}
      ARM_TENANT_ID: ${{ secrets.ARM_TENANT_ID }}
      ARM_SUBSCRIPTION_ID: ${{ secrets.ARM_SUBSCRIPTION_ID }}
      # JWT_SECRET: ${{ secrets.JWT_SECRET }}
      # MONGODB_URI: ${{ secrets.MONGODB_URI }}
      # PORT: ${{ vars.PORT }}
    runs-on: ubuntu-20.04
    steps:
    - name: checkout repo
      uses: actions/checkout@main
    - name: init terraform
      shell: bash
      run: make init
    - name: plan terraform
      shell: bash
      run: make plan
  # INFRA_APPLY:
  #   needs: [ INFRA_PLAN ]
  #   environment: 
  #     name: apply
  #   env:
  #     PAT: ${{ secrets.PAT }}
  #     CR_HOST: ${{ vars.CR_HOST }}
  #     ARM_CLIENT_ID: ${{ secrets.ARM_CLIENT_ID }}
  #     ARM_CLIENT_SECRET: ${{ secrets.ARM_CLIENT_SECRET }}
  #     ARM_TENANT_ID: ${{ secrets.ARM_TENANT_ID }}
  #     ARM_SUBSCRIPTION_ID: ${{ secrets.ARM_SUBSCRIPTION_ID }}
  #     JWT_SECRET: ${{ secrets.JWT_SECRET }}
  #     MONGODB_URI: ${{ secrets.MONGODB_URI }}
  #     PORT: ${{ vars.PORT }}
  #   runs-on: ubuntu-20.04
  #   steps:
  #   - name: checkout repo
  #     uses: actions/checkout@main
  #   - name: init terraform
  #     shell: bash
  #     run: make init
  #   - name: plan terraform
  #     shell: bash
  #     run: make plan
  #   - name: apply terraform
  #     shell: bash
  #     run: make apply
  # INFRA_DESTROY:
  #   needs: [ INFRA_APPLY ]
  #   environment: 
  #     name: apply
  #   env:
  #     PAT: ${{ secrets.PAT }}
  #     CR_HOST: ${{ vars.CR_HOST }}
  #     ARM_CLIENT_ID: ${{ secrets.ARM_CLIENT_ID }}
  #     ARM_CLIENT_SECRET: ${{ secrets.ARM_CLIENT_SECRET }}
  #     ARM_TENANT_ID: ${{ secrets.ARM_TENANT_ID }}
  #     ARM_SUBSCRIPTION_ID: ${{ secrets.ARM_SUBSCRIPTION_ID }}
  #     JWT_SECRET: ${{ secrets.JWT_SECRET }}
  #     MONGODB_URI: ${{ secrets.MONGODB_URI }}
  #     PORT: ${{ vars.PORT }}
  #   runs-on: ubuntu-20.04
  #   steps:
  #   - name: checkout repo
  #     uses: actions/checkout@main
  #   - name: init terraform
  #     shell: bash
  #     run: make init
  #   - name: apply terraform
  #     shell: bash
  #     run: make destroy